Source: dmtcp
Section: unknown
Priority: extra
Maintainer: Jason Ansel <droptchyald+deb@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: dmtcp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: dmtcp-doc
Architecture: all
Description: Documentation for dmtcp
 <insert long description, indented with spaces>
