# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oat]
*~
*.swp
*.swo
*.log
*.status
*.so
*.pyc
Makefile
core
cscope.*
dmtcpaware*
*aclocal.m4*

autom4te.cache

bin/
lib/
include/config.h
include/stamp-h1
dmtcp/src/dmtcp_checkpoint
dmtcp/src/dmtcp_launch
dmtcp/src/dmtcp_command
dmtcp/src/dmtcp_coordinator
dmtcp/src/dmtcp_nocheckpoint
dmtcp/src/dmtcp_restart
dmtcp/src/libdmtcpaware.so*
plugin/ipc/dmtcp_ssh*
dmtcp_discover_rm

mtcp/libmtcp.so*
mtcp/mtcp.lis
mtcp/mtcp.map
mtcp/mtcp_restart
mtcp/readmtcp
mtcp/mtcp.t.orig
mtcp/testmtcp6
mtcp/util-arch

test/*
!*.{c,h,cpp,java,py,in}
test/testconfig.py

*.deps*

ckpt_*.dmtcp
dmtcp_restart_script*
