Source: dmtcp
Section: utils
Priority: optional
Maintainer: Kapil Arya <kapil@ccs.neu.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Vcs-svn: https://dmtcp.svn.sourceforge.net/svnroot/dmtcp
Vcs-browser: http://dmtcp.svn.sourceforge.net/viewvc/dmtcp/trunk
Homepage: http://dmtcp.sourceforge.net

Package: dmtcp
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Checkpoint/Restart functionality for Linux processes
 DMTCP (Distributed MultiThreaded Checkpointing) is a tool to transparently
 checkpointing the state of an arbitrary group of programs spread across many
 machines and connected by sockets. It runs directly on the user binary
 executable, without needing to modify either the user binary or the operating
 system.
 .
 Among the applications supported by DMTCP are OpenMPI, MATLAB, Python,
 Perl, and many programming languages and shell scripting languages.
 DMTCP also supports GNU screen sessions, including vim/cscope and emacs. With
 the use of TightVNC, it can also checkpoint and restart X-Windows
 applications, as long as they do not use extensions (e.g.: no OpenGL, no
 video).
 .
 This package contains DMTCP binaries.

Package: dmtcp-dbg
Architecture: i386 amd64
Section: debug
Priority: extra
Depends: dmtcp, ${shlibs:Depends}, ${misc:Depends}
Description: Debug package for dmtcp
 DMTCP (Distributed MultiThreaded Checkpointing) is a tool to transparently
 checkpointing the state of an arbitrary group of programs spread across many
 machines and connected by sockets. It runs directly on the user binary
 executable, without needing to modify either the user binary or the operating
 system.
 .
 Among the applications supported by DMTCP are OpenMPI, MATLAB, Python,
 Perl, and many programming languages and shell scripting languages.
 DMTCP also supports GNU screen sessions, including vim/cscope and emacs. With
 the use of TightVNC, it can also checkpoint and restart X-Windows
 applications, as long as they do not use extensions (e.g.: no OpenGL, no
 video).
 .
 This package contains debugging symbols for DMTCP.

Package: libdmtcpaware-dev
Architecture: i386 amd64
Section: libdevel
Depends: dmtcp, ${shlibs:Depends}, ${misc:Depends}
Description: DMTCP programming interface developer package
 DMTCP (Distributed MultiThreaded Checkpointing) is a tool to transparently
 checkpointing the state of an arbitrary group of programs spread across many
 machines and connected by sockets. It runs directly on the user binary
 executable, without needing to modify either the user binary or the operating
 system.
 .
 Among the applications supported by DMTCP are OpenMPI, MATLAB, Python,
 Perl, and many programming languages and shell scripting languages.
 DMTCP also supports GNU screen sessions, including vim/cscope and emacs. With
 the use of TightVNC, it can also checkpoint and restart X-Windows
 applications, as long as they do not use extensions (e.g.: no OpenGL, no
 video).
 .
 This package provides a programming interface to allow checkpointed
 applications to interact with dmtcp.
 .
 The user application should link with libdmtcpaware.so (-ldmtcpaware) and use
 the header file dmtcp/dmtcpaware.h.
 .
 For more information see: http://dmtcp.sourceforge.net/
